<div class="container py-5">
  <h1 class="text-center mb-4 text-primary">New Goal</h1>

  <div class="table-container mx-auto" style="max-width: 400px;">
    <%= form_with model: @goal, local: true do |form| %>
      <div class="form-group mb-3">
        <%= form.label :title, 'Title', class: 'form-label text-primary' %>
        <%= form.text_field :title, class: 'form-control border-primary shadow-sm', style: 'height: 36px; font-size: 14px;' %>
      </div>

      <div class="text-center">
        <%= form.submit 'Create', class: 'btn btn-primary px-4 me-2' %>
        <%= link_to 'Back to the list', goals_path, class: 'btn btn-secondary px-4' %>
      </div>
    <% end %>
  </div>
</div>
